# Copyright (c) 2024-2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear
[Unit]
Description=Service for vhost-user-scmi

After= remote-fs.target

Before = qcrosvm.service

[Service]
Type=notify
NotifyAccess=main

ExecStart=/usr/bin/vhost-user-scmi \
-l level=debug \
-s /tmp/pt-dev-skt \
-f 0/300:1200:2400:4800:9600:19200:38400:57600:115200:230400:460800:921600:2000000:3000000:4000000:8000000,1/10:100:1000:2500:5000:10000,2/10:100:1000:2500:5000,3/300:1200:2400:4800:9600:19200:38400:57600:115200:230400:460800:921600:2000000:3000000:4000000:8000000 \
-p 24 \
-r 1 \
-d /dev/scmi_usb2,17/0/usb_transfer,17/1/usb_core \
-d /dev/scmi_usb2_phy2,17/2/usb_transfer,17/3/usb_core \
-d /dev/scmi_uart17,19/0/perf,17/4/power \
-d /dev/scmi_bluetooth0,17/5/power_regulator,17/6/power_gpio \
-d /dev/scmi_pcie2,17/7/power \
-d /dev/scmi_emac1,17/8/emac_power,17/9/emac_clock,19/1/emac_perf,19/2/perf_5g_serdes,22/0/emac_reset \
-d /dev/scmi_wlan0,17/10/power_regulator,17/11/power_gpio \
-d /dev/scmi_uart14,17/12/power,19/3/perf \
-d /dev/scmi_usb1,17/13/usb_transfer,17/14/usb_core \
-d /dev/scmi_usb1_phy2,17/15/usb_transfer,17/16/usb_core \
-d /dev/scmi_usb1_qmp,17/17/usb_transfer,17/18/usb_core \
-d /dev/scmi_pcie3,17/19/power \
-d /dev/scmi_bluetooth1,17/20/power_regulator,17/21/power_gpio \
-d /dev/scmi_wlan1,17/22/power_regulator,17/23/power_gpio

[Install]
WantedBy = multi-user.target
