# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear
[Unit]
Description=Service for vhost-user-scmi

After= remote-fs.target tmp.mount systemd-modules-load.service

Before = qcrosvm.service shutdown.target
DefaultDependencies = no
Conflicts = shutdown.target

[Service]
Slice=gvm.slice
Type=notify
NotifyAccess=main

ExecStart=/usr/bin/vhost-user-scmi \
-l level=debug \
-s /tmp/pt-dev-skt \
-f 0/300:1200:2400:4800:9600:19200:38400:57600:115200:230400:460800:921600:2000000:3000000:4000000:8000000,1/300:1200:2400:4800:9600:19200:38400:57600:115200:230400:460800:921600:2000000:3000000:4000000:8000000\
-p 12 \
-d /dev/scmi_uart17,19/0/perf,17/0/power \
-d /dev/scmi_pcie0,17/1/power \
-d /dev/scmi_wlan,17/2/power_regulator,17/3/power_gpio \
-d /dev/scmi_usb2,17/4/usb_transfer,17/5/usb_core \
-d /dev/scmi_usb2_phy2,17/6/usb_transfer,17/7/usb_core \
-d /dev/scmi_bluetooth,17/8/power \
-d /dev/scmi_emac1,17/9/gvm_power_mdio \
-d /dev/scmi_uart3,19/1/perf,17/10/power \
-d /dev/scmi_bluetooth_2,17/11/power

[Install]
WantedBy = multi-user.target
