# Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear
[Unit]
Description=Service for lv vhost-user-scmi

After= remote-fs.target

Before = qcrosvm_lv.service

[Service]
Slice=gvm.slice
Type=notify
NotifyAccess=main

ExecStart=/usr/bin/vhost-user-scmi \
-l level=debug \
-s /tmp/pt-lv-dev-skt \
-p 1 \
-d /dev/scmi_ufs2,17/0/power

[Install]
WantedBy = multi-user.target
